*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans' , sans-serif;
}

.tm-body{
  background: #eeeeee;
}

.tm-header{
  background: white;
}
/*--------------------------------------------- COUNT DOWN -------------------------------------------------------------*/
.countDownContainer{
  position: absolute;
  top: 5%;
  left: 26%;
  padding: 10px;
}

.info{
  font-size: 20px;
}

.lijevo{
  padding-left: 5px;
}

.bold{
  font-weight: bold;
}

/*------------------------------------------------------------------------------------------------------------------------*/
.tm-header::after{
  content: " ";
  clear: both;
  display: block;
  visibility: none;
}

.tm-container{
  max-width: 1200px;
  margin: 0 auto;
/*  border: 2px solid black; */
}

.tm-logo{
  float:left;
}

.tm-nav{
  float: right;
}
.tm-nav ul li{
    display: inline-block;
}

.fight:hover{
  border: 2px solid blue;
  text-transform: uppercase;
}


.tm-nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: #303030;
    line-height: 100px;
}

.tm-nav ul li a:hover{
  color: #3e99ff;
}

p{
  color: red;
}
.customize{
  display: inline-block;
  width: 100%;
  min-height: 100%;
  position: absolute; // for not scroling , absolute -> for scrolling
  padding: 1rem 2rem;
}

/* SPAPP------------------------------------------------------------------------SPAPP*/

.page{
  display: none;
  width: 100%;
  min-height: 100%;
  position: absolute; // for not scroling , absolute -> for scrolling
  padding: 1rem 2rem;
}

.active{
  display: block; // this will overide above display none !
}

/* FORMS --------------------------------------------------------------FORMS*/

.fomrh1{
  text-align: center;
  font-size: 50px;
  color: steelblue;
}

.Tform{
  margin: 5px auto;
  width: 300px;
  color: steelblue;
}

.Tin{
  padding: 5px;
  font-size: inherit;
  display: block;
  margin-bottom: 0px;
  width: 100%;
  border: 2px solid steelblue;

}

.pola{
  padding: 5px;
  font-size: inherit;
  display: block;
  margin-bottom: 0px;
  width: 100%;
  border: 2px solid steelblue;
}

.centeralized{
    text-align: center;

}

.singup{
  padding: 5px;
  margin: 30px;
}
